
.title {
  font-size: 6.5em;
}

.about-body{
  width: 70%;
  background: url(./img/Suichuimage.jfif)no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.img {
  display: none;
}

.member{
  margin-bottom: 200px;
}
