.title {
  font-size: 6.5em;
}

.profile {
  background-position: center;
}

.about{
  background: url(./img/Suichuimage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

}

.img {
  display: none;
}
