*{
  font-family: sans-serif;
}

/* body{
  position: relative;
  background-size: auto;
  background: url(./img/glasses2_small.jpg)fixed no-repeat;
  background-position: center;
} */

.title {
  width: 200px;
  position: absolute;
  top: 100px;
  line-height: 1.1em;
  font-size: 5em;
  text-align: left;
}
.about-body{
  background: none;
  width: 100%;
}
.about{
  background: url(./img/Suichuimage.jfif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.profile {
  background: url(./img/water-small.jpg)no-repeat;
  background-attachment: scroll;
} 

.member{
  margin-bottom: 0;
}
