* {
  font-family: sans-serif;
}

body{
  background: none;
}

.top-container{
  background: url(./img/glasses.jpg) center no-repeat;
  background-size: cover;
}

.text{
  font-size: 4em;
}

.title {
  width: 200px;
  position: absolute;
  top: 100px;
  line-height: 1.1em;
  font-size: 5em;
  text-align: left;
}

.about-body {
  background: none;
  width: 100%;
}

.about {
  background: url(./img/Suichuimage.jfif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 85%;
}

.profile {
  background: url(./img/water-small.jpg) no-repeat;
  background-attachment: scroll;
}

.song{
  background-color: teal;
}

.member {
  margin-bottom: 0;
  background-color: darkgray;
}
