* {
  font-family: sans-serif;
  max-width: 400px;
}

.text{
  font-size: 4em;
}

.title {
  width: 200px;
  position: absolute;
  top: 100px;
  line-height: 1.1em;
  font-size: 5em;
  text-align: left;
}

.about-body {
  background: none;
  width: 100%;
}

.about {
  background: url(./img/Suichuimage.jfif);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 85%;
}

.profile {
  background: url(./img/water-small.jpg) no-repeat;
}
