* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Corben", cursive;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body::before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: url(./img/glasses-dark.jpg) center/cover no-repeat;
}

.img{
  background: url(./img/Suichuimage.jpg) no-repeat;
}
@media screen and (min-width: 1300px){
  .img{
    background: url(./img/Suichuimage.jfif) no-repeat;
    background-size: cover;
    border-radius: 20px;
  }
}

.title {
  height: 230px;
  font-size: 10em;
  margin-top: 150px;
  text-align: center;
}

.wrap {
  width: 100%;
}

.about {
  margin-top: 130vh;
  overflow: hidden;
}


disc {
  font-family: "Sawarabi Gothic";
}

.song {
  height: 100vh;
}

.text {
  display: block;
  padding-top: 50px;
  text-align: center;
  font-size: 5em;
  color: #f8f6fa;
  overflow: hidden;
}
.text::after {
  content: url(./img/line.png);
  display: block;
  margin-top: -50px;
}

.profile {
  background: url(./img/water.jpg) fixed no-repeat;
  border-radius: 20px;
}
@media screen and (min-width: 1300px){
  .profile{
    background: url(./img/water11.jpg) fixed no-repeat;
  border-radius: 20px;
  }
}

.picture {
  text-align: center;
}

.picture img {
  border-radius: 100%;
  border: 2px solid #655c72;
}

.intro {
  font-family: "Sawarabi Gothic";
}

.sns p a {
  color: white;
  transition: 0.2s;
}

.sns p .fa-twitter:hover {
  text-decoration: none;
  color: #1da1f2;
}
.sns p .fa-facebook:hover {
  text-decoration: none;
  color: #3c5a99;
}
.sns p .fa-instagram:hover {
  text-decoration: none;
  background: -webkit-linear-gradient(0deg, #4c64d3, #cf2e92, #f26939, #ffdd83);
  background-clip: text;
  border-radius: 5px;
}
footer {
  color: white;
  height: 50px;
  background-color: black;
  border-top: 2px solid #61e7e1;
  text-align: center;
}
