* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Corben", cursive;
  color: white;
}

html {
  scroll-behavior: smooth;
}
 
body::before {
  content:"";
  display:block;
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height:100vh;
  background:url(./img/glasses2.jpg) center/cover no-repeat; /*fixedをトル！*/
  }


/* body {
  background: url(./img/glasses2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  backdrop-filter: brightness(0.4);
  background-attachment: fixed;
} */

.title {
  height: 230px;
  font-size: 10em;
  margin-top: 150px;
  text-align: center;
}

.wrap {
  width: 100%;
}

.about {
  margin-top: 130vh;
  overflow: hidden;
}

.disc {
  font-family: "Sawarabi Gothic";
}

.song {
  height: 100vh;
}

.text {
  display: block;
  padding-top: 50px;
  text-align: center;
  font-size: 5em;
  color: #f8f6fa;
  overflow: hidden;
}
.text::after {
  content: url(./img/line.png);
  display: block;
  margin-top: -50px;
}

.profile {
  background: url(./img/water-dark2.jpg) fixed no-repeat;
  border-radius: 20px;
} 

.picture {
  text-align: center;
}

.picture img {
  border-radius: 100%;
  border: 2px solid #655c72;
}

.sns p a {
  color: white;
  transition: .2s;
}

.sns p .fa-twitter:hover{
  text-decoration: none;
  color: #1DA1F2;
}
.sns p .fa-facebook:hover{
  text-decoration: none;
  color: #3C5A99;
}
.sns p .fa-instagram:hover{
  text-decoration: none;
  background: -webkit-linear-gradient(0deg, #4C64D3, #CF2E92,#F26939,#FFDD83);
  background-clip: text;
  border-radius: 5px;
}
footer {
  color: white;
  height: 50px;
  background-color: black;
  border-top: 2px solid #61e7e1;
  text-align: center;
}
